body
    font-family: HelveticaNeueCyr, 'sans-serif'
    background: $black
.container-fluid
    padding-left: 34px
    padding-right: 34px
h1
    color: $white
    font-weight: 550
    font-size: 84px !important
    & span
        color: $plat
        font-style: italic
        font-weight: 400
h2
    color: $white
    font-size: 84px !important
    font-weight: 400
    & span
        color: $yellow
        font-style: italic
h3
    color: $black
    font-size: 48px !important
    font-weight: 400
    line-height: 100%
    & span
        font-style: italic
h4
    font-size: 96px !important
    font-weight: 400
    color: $white
    & span
        font-style: italic
        color: $plat
h5
    font-size: 24px !important
    font-weight: 400
    color: $black
h6
    font-size: 24px !important
    color: $white
a
    text-decoration: none
